:root {
  --top-gradient-bgcolor: #151515;
  --bottom-gradient-bgcolor: #242424;
  --dark-bgcolor: #282828;
  --lighter-bgcolor: #202020;
  --dark-navbar-bgcolor: #101010;
  --dark-navbarHover-bgcolor: #090909;
  --primary-color: #F2A30F;
  --card-button-color: #F28C0F;
  --button-bg-color-darker: #c1830e;
  --button-bg-color-lighter: #ffab0f;
  --lighter-color: #F4F4F4;
  --normal-color: #E1E1E1;
  --darker-color: #ABABAB;
  --contact-info-color: #d8d8d8;
  --headline-line: #6D6D6D;
}

::placeholder {
  color: var(--darker-color);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
  list-style: none;
  text-decoration: none;
}

/*Basic Code Starts*/
.page {
  padding: 29rem 2.625rem;
  background-position: center;
  background-image: url('../images/backgrounds/web-firstPage.jpg');
  background-size: cover;
  background-position: center;
  scroll-snap-align: start;
  color: var(--lighter-color);
  position: relative;
  overflow-x: hidden;
}

.inner-container {
  max-width: 100%;
}

.headline {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 6rem;
  margin-bottom: 3.688rem;
  text-align: center;
}

.headline h1 {
  font-size: 2.5rem;
  font-weight: bold;
  font-style: italic;
  color: var(--primary-color);
  line-height: 50px;
  letter-spacing: 2.5px;
  text-transform: uppercase;
}

.headline hr {
  width: 2.5rem;
  height: 2.5px;
  border: 2px solid var(--headline-line);
}

h2 {
  padding: 0.625rem 0;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.2);
  color: var(--darker-color);
  border: 1px solid var(--primary-color);
  font-size: 1.25rem;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-shadow: 1px 1px var(--dark-bgcolor);
}

.btn {
  margin: 2.625rem auto 0 auto;
  background-image: linear-gradient(to bottom right, var(--button-bg-color-darker), var(--button-bg-color-lighter));
  color: var(--lighter-color);
  padding: 0.375rem 1rem;
  border: 1px solid transparent;
  border-radius: 0.2rem;
  cursor: pointer;
  font-size: 1.25rem;
  font-weight: 300;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: all 0.2s ease;
}

.btn a {
  color: var(--lighter-color);
}

.btn:hover {
  background-color: rgba(0, 0, 0, 0.2);
  background-image: none;
  border: 1px solid var(--primary-color);
}

.btn-signUp:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
/*Basic Code Ends*/

/*Nav Starts*/
nav {
  position: fixed;
  top: 0; left: 0; right: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 3.5rem;
  background-color: var(--dark-navbar-bgcolor);
  font-size: 1rem;
  letter-spacing: 2px;
  font-weight: 500;
  text-transform: uppercase;
  max-width: 100%;
  z-index: 100;
}

.logo {
  font-size: 1.125rem;
  margin: 0 auto 0 4.5rem;
}

.logo a {
  color: var(--lighter-color);
}

.logo a span {
  margin: 0 -3.5px;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  width: 45rem;
  margin: 0 4.5rem 0 auto;
}

.nav-links li {
  position: relative;
  list-style: none;
  cursor: pointer;
}

.nav-links > li:last-child {
  display: none;
}

.nav-links li img{
  display: none;
  width: 1.25rem;
  margin: 0 1.35rem 0 0.6rem;
}

.nav-links li a {
  color: var(--lighter-color);
  text-decoration: none;
  padding: 0.25rem 1rem;
  border-top: 2px solid transparent;
  border-bottom: 2px solid transparent;
}

.nav-links li a:hover {
  border-top: 2px solid var(--primary-color);
}

.nav-links li a:focus {
  border-bottom: 2px solid var(--primary-color);
}

.nav-links .classes .main-hover-active {
  border-top: 2px solid var(--primary-color);
  border-bottom: 2px solid var(--primary-color);
}

.nav-links .classes #down-arrow {
  display: inline;
  margin: 0;
  width: 11px;
}

.class-links {
  display: flex;
  position: absolute;
  justify-content: space-between;
  top: 2.5rem;
  width: 38rem;
  background-color: var(--dark-navbarHover-bgcolor);
  box-shadow: 0px 0px 32px -9px rgba(124, 69, 3, 0.75);
  -webkit-box-shadow: 0px 0px 29px -9px rgba(124, 69, 3, 0.75);
  -moz-box-shadow: 0px 0px 29px -9px rgba(124, 69, 3, 0.75);
  transform: translateY(-10px);
  opacity: 0;
  transition: all 0.2s ease-out;
}

.class-links-active {
  opacity: 1;
  transform: translateY(0);
}

.class-links li {
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 2px solid transparent;
  border-bottom: 2px solid transparent;
}

.class-links li:hover {
  border-bottom: 2px solid var(--primary-color);
}

.class-links a {
  padding: 0.5rem;
}

.class-links li:first-child a {
  padding-left: 1rem;
}

.class-links li:last-child a {
  padding-right: 1rem;
}

.class-links li a:hover {
  border: none;
}

.burger {
  display: none;
  cursor: pointer;
  position: absolute;
  left: 0.75rem;
  padding: 0.4rem;

}

.burger div{
  width: 30px;
  height: 3px;
  margin: 5px 0;
  border-radius: 5px;
  background-color: var(--lighter-color);
  transition: all 0.2s ease-in-out;
}

.line-active {
  border-radius: 0.2rem;
  background-color: var(--dark-navbarHover-bgcolor);
}

.line-active .top-line {
  transform: rotate(-45deg) translate(-5px,6px);
}

.line-active .mid-line {
  transform: translateX(-10px);
  background: transparent;
}

.line-active .bottom-line {
  transform: rotate(45deg) translate(-5px,-6px);
}
/*Nav Ends*/

/*SignUp Starts*/
.signUp-page {
  background-image: url('../images/backgrounds/signupPage.jpg');
  background-size: cover;
  background-position: center;
  padding: 0.2rem 15%;
}

.signUp-page .inner-container {
  margin-bottom: 2.688rem;
}

.signUp-page .inner-container .forms-container {
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.signUp-page .inner-container .forms-container .application {
  width: 38rem;
}

.signUp-page .inner-container .forms-container .application .input-field {
  position: relative;
  height: 3.25rem;
  margin-top: 1.625rem;
  padding: 0.625rem 1.75rem;
  text-align: left;
  border: 1px solid var(--primary-color);
  background-color: rgba(0, 0, 0, 0.2);
}

.signUp-page .inner-container .forms-container .application .input-field img {
  height: 1.5rem;
  position: absolute;
  left: 1.75rem; top: 0.75rem;
}

.signUp-page .inner-container .forms-container .application .input-field input {
  width: 90%;
  margin-left: 3rem;
  background-color: transparent;
  border: none;
  outline: none;
  font-size: 1.25rem;
  color: var(--darker-color);
  text-shadow: 1px 1px var(--dark-bgcolor);
}

.signUp-page .inner-container .forms-container .membership-application .date img {
  left: 11rem;
}

.signUp-page .inner-container .forms-container .membership-application .date input {
  width: auto;
  margin-left: 0;
}

.signUp-page .inner-container .forms-container .membership-application input[type="date"]::-webkit-calendar-picker-indicator {
  opacity: 0;
  cursor: pointer;
}

/*Line-container Starts*/
.signUp-page .inner-container .forms-container .application .line-container {
  display: flex;
  justify-content: space-between;
}

.signUp-page .inner-container .forms-container .application .line-container .input-field {
  width: 18.375rem;
  height: 3.25rem;
  position: relative;
  margin-top: 1.625rem;
  text-align: left;
  padding: 0.625rem 1.75rem;
  border: 1px solid var(--primary-color);
}

.signUp-page .inner-container .forms-container .application .phone input {
  width: 80%;
}

.signUp-page .inner-container .forms-container .application .line-container .date img {
  left: 11.25rem;
}

.signUp-page .inner-container .forms-container .application .line-container .date input {
  width: auto;
  margin-left: 0;
}

.signUp-page .inner-container .forms-container .application .line-container .input-field input[type="date"]::-webkit-calendar-picker-indicator {
  opacity: 0;
  cursor: pointer;
}

.signUp-page .inner-container .forms-container .application .line-container .excersize select, .plan select {
  width: 82.5%;
}
/*Line-container Ends*/

.signUp-page .inner-container .forms-container .application .input-field select {
  margin-left: 3rem;
  background-color: transparent;
  border: none;
  outline: none;
  font-size: 1.25rem;
  color: var(--darker-color);
  text-shadow: 1px 1px var(--dark-bgcolor);
}

.signUp-page .inner-container .forms-container .application .input-field select option {
  color: #353535;
}

.signUp-page .inner-container .forms-container .application .message {
  height: auto;
}

.signUp-page .inner-container .forms-container .application .message textarea {
  width: 90%;
  margin-left: 3rem;
  resize: none;
  background-color: transparent;
  border: none;
  outline: none;
  font-size: 1.25rem;
  color: var(--darker-color);
  text-shadow: 1px 1px var(--dark-bgcolor);
}

.signUp-page .inner-container .legal-information {
  width: 80%;
  margin: 4.688rem auto 0 auto;
  text-align: center;
  color: var(--darker-color);
  text-shadow: 1px 1px var(--dark-bgcolor);
}
/*SignUp Ends*/