@media (width < 1850px) {
  /*Sign Up Starts*/
  .btn {
    margin: 2rem auto 6.25rem auto;
  }

  .signUp-page .inner-container .forms-container .membership-application .btn {
    margin: 2rem auto 0 auto;
  }

  .signUp-page .inner-container .forms-container {
    flex-direction: column;
    align-items: center;
  }
  /*Sign Up Ends*/
}

@media (width < 1150px) {
  /*Nav Starts*/
  .nav-links{
    font-size: 0.875rem;
    width: 40rem;
  }

  .class-links {
    top: 2.4rem;
  }
  /*Nav Ends*/
}

@media (width < 1100px) {
  /*Sign Up Starts*/
  .signUp-page .inner-container .legal-information {
    width: 90%;
    margin: 3.688rem auto;
    font-size: 0.75rem;
  }
  /*Sign Up Ends*/
}

@media (width < 1000px) {
  /*Nav Starts*/
  .logo {
    display: flex;
    justify-content: center;
    margin: 0;
  }

  .nav-links {
    position: absolute;
    top: 3.5rem; left: 0;
    margin: 0;
    background-color: var(--dark-navbar-bgcolor);
    flex-direction: column;
    font-size: 0.75rem;
    width: 12rem;
    box-shadow: -15px 0px 32px -9px rgba(0,0,0,0.75);
    -webkit-box-shadow: -15px 0px 32px -9px rgba(0,0,0,0.75);
    -moz-box-shadow: -15px 0px 32px -9px rgba(0,0,0,0.75);
    transform: translateX(-300%);
    transition: all 0.2s ease-in-out;
  }

  .nav-active {
    transform: translateX(0%);
  }

  .nav-links li {
    display: flex;
    padding: 0.75rem;
    border-left: 3px solid transparent;
  }

  .nav-links > li:hover {
    background-color: var(--dark-navbarHover-bgcolor);
    border-left: 3px solid var(--primary-color);
  }

  .nav-links .classes-active {
      background-color: var(--dark-navbarHover-bgcolor);
      border-left: 3px solid var(--lighter-color);
  }

  .nav-links li img{
    display: block;
  }

  .nav-links li a{
    margin-top: 0.2rem;
    padding: 0;
    border: none;
  }

  .nav-links li a:hover{
    border: none;
  }

  .nav-links .classes .main-hover-active {
    border: none;
  }

  .class-links {
    flex-direction: column;
    top: 0; left: 11.8rem;
    margin: 0;
    width: 16rem;
    background-color: var(--dark-navbarHover-bgcolor);
    transform: translateY(0);
    transform: translateX(-10px);
  }

  .class-links-active {
    transform: translateX(0);
  }

  .class-links li {
    justify-content: left;
    border: none;
    border-left: 3px solid transparent;
  }

  .class-links li:hover{
    border: none;
    border-left: 3px solid var(--primary-color);
  }

  .class-links li img{
    margin: 0 1.35rem 0 0.6rem;
  }

  .class-links li:first-child a {
    padding-left: 0;
  }
  
  .class-links li:last-child a {
    padding-right: 0;
  }

  .burger {
    display: block;
  }
  /*Nav Ends*/
}


@media (width < 950px) {
  /*Sign Up Starts*/
  .signUp-page {
    padding: 0.2rem 10%;
  }
  /*Sign Up Ends*/
}

@media (width < 800px) {
  /*Sign Up Starts*/
  .headline {
    margin-bottom: 3rem;
  }
  
  h2 {
    font-size: 1.125rem;
  }
  
  .btn {
    margin: 2rem auto 4.688rem auto;
    font-size: 1rem;
  }

  .signUp-page .inner-container .forms-container .membership-application .btn {
    margin: 2rem auto 0 auto;
  }

  .signUp-page .inner-container .legal-information {
    width: 100%;
  }
  
  .signUp-page .inner-container .forms-container .application {
    width: 21.375rem;
  }

  /*Input field starts*/
  .signUp-page .inner-container .forms-container .application .input-field {
    height: 2.5rem;
    margin-top: 1.5rem;
    padding: 0.35rem 1rem;
  }

  .signUp-page .inner-container .forms-container .application .input-field img {
    height: 1rem;
    left: 1rem; top: 0.7rem;
  }

  .signUp-page .inner-container .forms-container .application .input-field input {
    width: 85%;
    margin-left: 1.875rem;
    font-size: 1rem;
  }
  /*Input field ends*/

  .signUp-page .inner-container .forms-container .membership-application .date img {
    left: 8.75rem;
  }

  .signUp-page .inner-container .forms-container .membership-application .date input {
    width: auto;
    margin-left: 0;
  }

  /*Line Container starts*/
  .signUp-page .inner-container .forms-container .application .line-container {
    flex-direction: column;
  }

  .signUp-page .inner-container .forms-container .application .line-container .input-field {
    height: 2.5rem;
    width: 21.375rem;
    margin-top: 1.5rem;
    padding: 0.35rem 1rem;
    border: 1px solid var(--primary-color);
  }

  .signUp-page .inner-container .forms-container .application .phone input {
    width: 85%;
  }

  .signUp-page .inner-container .forms-container .application .line-container .date img {
    left: 8.75rem;
  }

  .signUp-page .inner-container .forms-container .application .line-container .excersize select, .plan select {
    width: auto;
  }
  /*Line Container ends*/

  .signUp-page .inner-container .forms-container .application .input-field select {
    width: auto;
    margin-left: 1.875rem;
    font-size: 1rem;
  }

  .signUp-page .inner-container .forms-container .application .message {
    height: auto;
  }

  .signUp-page .inner-container .forms-container .application .message textarea {
    width: 85%;
    margin-left: 1.875rem;
    font-size: 1rem;
  }
  /*Sign Up Ends*/
}

@media (width < 675px) {
  /*Sign Up Starts*/
  .signUp-page .inner-container .headline h1{
    font-size: 1.875rem;
  }
  /*Sign Up Ends*/
}

@media (width < 480px) {
  /*Nav Starts*/
  .nav-links {
    width: 6.5rem;
  }

  .nav-links li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 0;
    padding-right: 0;
  }

  .nav-links li img{
    margin: 0 0.6rem;
  }

  .nav-links li a{
    margin: 0.5rem 0.6rem 0 0.6rem;
  }

  .class-links {
    flex-direction: column;
    top: 0; left: 6.3rem;
    width: 11rem;
  }

  .class-links li a  {
    margin-left: auto;
    margin-right: auto;
  }
  /*Nav Ends*/

  /*Sign Up Starts*/
  .signUp-page .inner-container .legal-information {
    font-size: 0.625rem;
  }
  /*Sign Up Ends*/
}

@media (width < 445px) {
  /*Sign Up Starts*/
  .signUp-page {
    padding: 0.2rem 5%;
  }
  /*Sign Up Ends*/
}

@media (width < 400px) {
  /*Sign Up Starts*/
  h2 {
    padding: 0.5rem 0;
    font-size: 1rem;
  }

  .signUp-page .inner-container .forms-container .application {
    width: 16rem;
  }

  .signUp-page .inner-container .forms-container .application .line-container .input-field {
    width: 16rem;
  }

  /*Input field starts*/
  .signUp-page .inner-container .forms-container .application .input-field {
    height: 2.25rem;
    margin-top: 1.25rem;
    padding: 0.3rem 0.75rem;
  }

  .signUp-page .inner-container .forms-container .application .input-field img {
    height: 1rem;
    left: 0.75rem; top: 0.6rem;
  }

  .signUp-page .inner-container .forms-container .application .input-field input {
    width: 90%;
    margin-left: 1.625rem;
    font-size: 0.875rem;
  }
  /*Input field ends*/
  
  .signUp-page .inner-container .forms-container .membership-application .date img {
    left: 7.5rem;
  }

  .signUp-page .inner-container .forms-container .membership-application .date input {
    width: auto;
    margin-left: 0;
  }

  /*Line Container starts*/
  .signUp-page .inner-container .forms-container .application .line-container .input-field {
    height: 2.25rem;
    width: 16rem;
    margin-top: 1.25rem;
    padding: 0.3rem 0.75rem;
  }

  .signUp-page .inner-container .forms-container .application .phone input {
    width: 90%;
  }

  .signUp-page .inner-container .forms-container .application .line-container .date img {
    left: 7.5rem;
  }

  .signUp-page .inner-container .forms-container .application .line-container .excersize select, .plan select {
    width: auto;
  }
  /*Line Container ends*/

  .signUp-page .inner-container .forms-container .application .input-field select {
    width: auto;
    margin-left: 1.625rem;
    font-size: 0.875rem;
  }

  .signUp-page .inner-container .forms-container .application .message {
    height: auto;
  }

  .signUp-page .inner-container .forms-container .application .message textarea {
    width: 90%;
    margin-left: 1.625rem;
    font-size: 0.875rem;
  }
  /*Sign Up Ends*/
}

@media (width < 375px) {
  /*Nav Starts*/
  .logo {
    margin-left: 10%;
  }
  /*Nav Ends*/
}