@media (width < 1220px) {
  /*Submitted Page Starts*/
  .submitted-page {
    padding: 0.2rem 10%;
  }
  /*Submitted Page Ends*/
}

@media (width < 1150px) {
  /*Nav Starts*/
  .nav-links{
    font-size: 0.875rem;
    width: 40rem;
  }

  .class-links {
    top: 2.4rem;
  }
  /*Nav Ends*/
}

@media (width < 1052px) {
  /*Submitted Page Starts*/
  .submitted-page .inner-container {
    margin-bottom: 32.5rem;
  }
  /*Submitted Page Ends*/
}

@media (width < 1000px) {
  /*Nav Starts*/
  .logo {
    display: flex;
    justify-content: center;
    margin: 0;
  }

  .nav-links {
    position: absolute;
    top: 3.5rem; left: 0;
    margin: 0;
    background-color: var(--dark-navbar-bgcolor);
    flex-direction: column;
    font-size: 0.75rem;
    width: 12rem;
    box-shadow: -15px 0px 32px -9px rgba(0,0,0,0.75);
    -webkit-box-shadow: -15px 0px 32px -9px rgba(0,0,0,0.75);
    -moz-box-shadow: -15px 0px 32px -9px rgba(0,0,0,0.75);
    transform: translateX(-300%);
    transition: all 0.2s ease-in-out;
  }

  .nav-active {
    transform: translateX(0%);
  }

  .nav-links li {
    display: flex;
    padding: 0.75rem;
    border-left: 3px solid transparent;
  }

  .nav-links > li:hover {
    background-color: var(--dark-navbarHover-bgcolor);
    border-left: 3px solid var(--primary-color);
  }

  .nav-links .classes-active {
      background-color: var(--dark-navbarHover-bgcolor);
      border-left: 3px solid var(--lighter-color);
  }

  .nav-links li img{
    display: block;
  }

  .nav-links li a{
    margin-top: 0.2rem;
    padding: 0;
    border: none;
  }

  .nav-links li a:hover{
    border: none;
  }

  .nav-links .classes .main-hover-active {
    border: none;
  }

  .class-links {
    flex-direction: column;
    top: 0; left: 11.8rem;
    margin: 0;
    width: 16rem;
    background-color: var(--dark-navbarHover-bgcolor);
    transform: translateY(0);
    transform: translateX(-10px);
  }

  .class-links-active {
    transform: translateX(0);
  }

  .class-links li {
    justify-content: left;
    border: none;
    border-left: 3px solid transparent;
  }

  .class-links li:hover{
    border: none;
    border-left: 3px solid var(--primary-color);
  }

  .class-links li img{
    margin: 0 1.35rem 0 0.6rem;
  }

  .class-links li:first-child a {
    padding-left: 0;
  }
  
  .class-links li:last-child a {
    padding-right: 0;
  }

  .burger {
    display: block;
  }
  /*Nav Ends*/
}

@media (width < 800px) {
  /*Submitted Page Starts*/
  .submitted-page .inner-container {
    margin-bottom: 34.38rem;
  }

  .submitted-page .inner-container .headline {
    margin-bottom: 3.688rem;
  }

  .submitted-page .inner-container .headline h1{
    font-size: 1.875rem;
  }

  .submitted-page .inner-container .info {
    font-size: 1.125rem;
  }

  .submitted-page .inner-container .btn {
    font-size: 1rem;
  }
  /*Submitted Page Ends*/
}

@media (width < 655px) {
  /*Submitted Page Starts*/
  .submitted-page .inner-container {
    margin-bottom: 32.69rem;
  }
  /*Submitted Page Ends*/
}

@media (width < 606px) {
  /*Submitted Page Starts*/
  .submitted-page .inner-container {
    margin-bottom: 31.63rem;
  }

  .submitted-page .inner-container .info {
    font-size: 1rem;
  }
  /*Submitted Page Ends*/
}

@media (width < 582px) {
  /*Submitted Page Starts*/
  .submitted-page .inner-container {
    margin-bottom: 31.25rem;
  }

  .submitted-page .inner-container .headline {
    margin-bottom: 3rem;
  }

  .submitted-page .inner-container .info {
    margin-bottom: 2rem;
  }
  /*Submitted Page Ends*/
}

@media (width < 480px) {
  /*Nav Starts*/
  .nav-links {
    width: 6.5rem;
  }

  .nav-links li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 0;
    padding-right: 0;
  }

  .nav-links li img{
    margin: 0 0.6rem;
  }

  .nav-links li a{
    margin: 0.5rem 0.6rem 0 0.6rem;
  }

  .class-links {
    flex-direction: column;
    top: 0; left: 6.3rem;
    width: 11rem;
  }

  .class-links li a  {
    margin-left: auto;
    margin-right: auto;
  }
  /*Nav Ends*/
}

@media (width < 437px) {
  /*Submitted Page Starts*/
  .submitted-page .inner-container {
    margin-bottom: 26.25rem;
  }

  .btn {
    display: block;
    margin: 1rem auto;
  }
  /*Submitted Page Ends*/
}

@media (width < 375px) {
  /*Nav Starts*/
  .logo {
    margin-left: 10%;
  }
  /*Nav Ends*/
}

@media (width < 352px) {
  /*Submitted Page Starts*/
  .submitted-page .inner-container {
    margin-bottom: 24.69rem;
  }
  /*Submitted Page Ends*/
}

@media (width < 322px) {
  /*Submitted Page Starts*/
  .submitted-page .inner-container {
    margin-bottom: 22rem;
  }
  /*Submitted Page Ends*/
}

@media (width < 300px) {
  /*Submitted Page Starts*/
  .submitted-page .inner-container {
    margin-bottom: 20rem;
  }
  /*Submitted Page Ends*/
}
